.flows {
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $default-mb;

    &__header {
        font-size: 3.5rem;
    }

    &__loader {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items {
        display: flex;
        align-items: center;
        column-gap: 2rem;
    
        width: 100%;
        height: 9.1rem;
        overflow-y: scroll;
        padding: 1.5rem;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        cursor: e-resize;
    
        &__item {
            font-size: $default-font-size;
    
            padding: 1rem 2.5rem;
        }
    }
}

