.flows {
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: $default-mb;

    height: 26rem;
    overflow-y: scroll;

    /* total width */
    &::-webkit-scrollbar {
        background-color: #fff;
        width: 16px;
        border-radius: 1rem;
    }

    /* background of the scrollbar except button or resizer */
    &::-webkit-scrollbar-track {
        background: #fff;
        border-radius: 15px;
    }

    /* scrollbar itself */
    &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
    }

    /* set button(top and bottom of the scrollbar) */
    &::-webkit-scrollbar-button {
        display:none;
    }

    &__header {
        font-size: 3.5rem;
    }

    &__loader {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__items {
        width: 100%;
        overflow-y: scroll;

        border-spacing: 2rem;

        padding: 0 1rem;
    
        &__item {
            font-size: $default-font-size;

            @include respond(phone) {
                font-size: 1.3rem;
            }

            &__id {

                span {
                    padding: 0.5rem 1.5rem;
                }
            }

            img {
                width: 3.2rem;
                height: 3.2rem;
            }

            th {
                text-align: left;
            }

            &__date {
                text-align: right !important;
            }
        }
    }
}

